<html lang="en">
<head>
  <meta name = "viewport" content = "width=device-width, initial-scale = 1.0" charset="UTF-8">
  <title>Mariah Forbes's Divine Designs</title>

  <link rel="stylesheet" type="text/css" href="portfolio.css">
  <style></style>
</head>

<body>
{{{body}}}
</body>
</html>
